@import url('https://css.gg/add.css');
@import url('https://css.gg/search.css');

.gg-search{
    margin-top: 7px;
}

.navbar-nav, .rs, .formbg {
    font-family: 'Poppins', sans-serif;
    color: #ff26b7;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ff26b7;
    transition: 0.4s;
}

.nav-link:hover::after {
    width: 100%;
}

.company {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #f5a4de;
}

.first-half {
    color: #ff26b7;
}

.half {
    color: #00ff57;
}

.cyber {
    font-family: 'Playfair Display', serif;
    font-size: 200px;
    line-height: .8;
    margin-top: 1.2em;
    margin-left: .4em;
}

.rs {
    color: #ff26b7;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15em;
    margin-right: 10em;
}

.gg-add {
    color: #ff26b7;
    margin-top: 12px;
    margin-right: 5px;
}

.grey {
    display: flex;
    font-size: 20px;
    line-height: .5;
    color: grey;
    justify-content: flex-end;
    font-style: italic;
}

body {
    background-image: url("/img/neon-girl.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
}

.neon-girl {
    position: fixed;
    z-index: -100;
    height: 100%;
    width: 100%;
}

.cursor {
    position: fixed;
    width: 200px;
    height: 200px;
    margin-left: -20px;
    margin-top: -20px;
    /*border-radius: 50%;*/
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #ff6200;
    mix-blend-mode: color;
}

.formbg {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    color: #fceaf7;
    margin-top: 5px;
    margin-right: 20px;
}

